<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.architecture.admin.models.daosub.wordcheck.ContentsWordCheckDaoSub">
    <!-- ==============================================================
        SETTING
    =============================================================== -->
    <!-- database name -->
    <sql id="database">${databaseRefId}</sql>

    <!-- ==============================================================
        SELECT
    =============================================================== -->
    <!-- 금칙어 목록 -->
    <select id="getList" parameterType="_int" resultType="ContentsWordCheckDto">
        SELECT
            `word`,
            `change_word`
        FROM
            <include refid="database"/>`sns_contents_word_check_kr`
        WHERE
                `state` = 1
            AND `type` IN (1, #{type})
    </select>
</mapper>