<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.architecture.admin.models.daosub.contents.ContentsTagDaoSub">
    <!-- database name -->
    <sql id="database">${databaseRefId}</sql>

    <!-- ==============================================================
        SELECT
    =============================================================== -->
    <!-- 내가 태그 된 콘텐츠 카운트 가져오기 -->
    <select id="iGetTotalMyTagContentsCount" parameterType="SearchDto" resultType="_int">
        SELECT
            COUNT(`snco`.`is_view`) AS `totalCnt`
        FROM (
            SELECT
                `snco`.`is_view`,
                IF(`snco`.`is_view` = 2 AND (`snco`.`member_uuid` = #{loginMemberUuid} OR (IFNULL(`snmefo`.`idx`, 0) != 0 OR IFNULL(`snmefo2`.`idx`, 0) != 0)), 1, 0) AS `is_follow`
            FROM <include refid="database" />`sns_img_member_tag_mapping` AS `snimmetama`
            INNER JOIN <include refid="database" />`sns_contents` AS `snco`
                ON `snco`.`idx` = `snimmetama`.`contents_idx`
                AND `snco`.`state` = 1
            INNER JOIN <include refid="database" />`sns_contents_img` AS `sncoim`
                ON `snimmetama`.`img_idx` = `sncoim`.`idx`
                AND `sncoim`.`state` = 1
                AND `sncoim`.`sort`  = 1
            LEFT JOIN <include refid="database" />`sns_contents_report` AS `sncore`
                ON `sncore`.`contents_idx` = `snimmetama`.`contents_idx`
                AND `sncore`.`member_uuid` = `snimmetama`.`member_uuid`
                AND `sncore`.`state` = 1
            LEFT JOIN <include refid="database" />`sns_member_block` AS `snmebl1`
                ON `snmebl1`.`block_uuid` = `snco`.`member_uuid`
                AND `snmebl1`.`member_uuid` = `snimmetama`.`member_uuid`
                AND `snmebl1`.`state` = 1
            LEFT JOIN  <include refid="database" />`sns_member_block` AS `snmebl2`
                ON `snmebl2`.`member_uuid` = `snco`.`member_uuid`
                AND `snmebl2`.`block_uuid` = `snimmetama`.`member_uuid`
                AND `snmebl2`.`state` = 1
            LEFT JOIN<include refid="database"/>`sns_contents_hide` AS `sncohi`
                ON `sncohi`.`contents_idx` = `snco`.`idx`
                AND `sncohi`.`member_uuid` = #{loginMemberUuid}
                AND `sncohi`.`state` = 1
            LEFT JOIN<include refid="database"/>`sns_member_follow` AS `snmefo`
                ON `snmefo`.`follow_uuid` = `snco`.`member_uuid`
                AND snmefo.`member_uuid` = #{loginMemberUuid}
                AND snmefo.state = 1
            LEFT JOIN<include refid="database"/>`sns_member_follow` AS `snmefo2`
                ON `snmefo2`.`member_uuid` = `snco`.`member_uuid`
                AND `snmefo2`.`follow_uuid` = #{loginMemberUuid}
                AND `snmefo2`.state = 1
            WHERE
                    `snimmetama`.`member_uuid` = #{loginMemberUuid}
                AND `snimmetama`.`state` = 1
                AND `sncore`.`idx` IS NULL
                AND `snmebl1`.`idx` IS NULL
                AND `snmebl2`.`idx` IS NULL
                AND `sncohi`.`idx` IS NULL
                AND `snco`.`is_keep` = 0
            HAVING (`snco`.`is_view` = 2 AND `is_follow` = 1) OR (`snco`.`is_view` = 1)
        ) AS `snco`
    </select>

    <!-- 내가 태그 된 콘텐츠 리스트 가져오기 -->
    <select id="lGetMyTagContentsList" parameterType="SearchDto" resultType="ContentsDto">
        SELECT
            `snco`.`idx` AS `idx`,
            IF(`sncoim`.`url` = '','',CONCAT(#{imgDomain}, `sncoim`.`url`)) AS `imgUrl`,
            `snco`.`image_cnt`,
            `snco`.`is_view`,
            IF(`snco`.`is_view` = 2 AND (`snco`.`member_uuid` = #{loginMemberUuid} OR (IFNULL(`snmefo`.`idx`, 0) != 0 OR
            IFNULL(`snmefo2`.`idx`, 0) != 0)), 1, 0) AS `is_follow`
        FROM<include refid="database"/>`sns_img_member_tag_mapping` AS `snimmetama`
        INNER JOIN<include refid="database"/>`sns_contents` AS `snco`
            ON `snco`.`idx` = `snimmetama`.`contents_idx`
            AND `snco`.`state` = 1
        INNER JOIN<include refid="database"/>`sns_contents_img` AS `sncoim`
            ON `snimmetama`.`img_idx` = `sncoim`.`idx`
            AND `sncoim`.`state` = 1
            AND `sncoim`.`sort` = 1
        LEFT JOIN<include refid="database"/>`sns_contents_report` AS `sncore`
            ON `sncore`.`contents_idx` = `snimmetama`.`contents_idx`
            AND `sncore`.`member_uuid` = `snimmetama`.`member_uuid`
            AND `sncore`.`state` = 1
        LEFT JOIN<include refid="database"/>`sns_member_block` AS `snmebl1`
            ON `snmebl1`.`block_uuid` = `snco`.`member_uuid`
            AND `snmebl1`.`member_uuid` = `snimmetama`.`member_uuid`
            AND `snmebl1`.`state` = 1
        LEFT JOIN<include refid="database"/>`sns_member_block` AS `snmebl2`
            ON `snmebl2`.`member_uuid` = `snco`.`member_uuid`
            AND `snmebl2`.`block_uuid` = `snimmetama`.`member_uuid`
            AND `snmebl2`.`state` = 1
        LEFT JOIN<include refid="database"/>`sns_contents_hide` AS `sncohi`
            ON `sncohi`.`contents_idx` = `snco`.`idx`
            AND `sncohi`.`member_uuid` = #{loginMemberUuid}
            AND `sncohi`.`state` = 1
        LEFT JOIN<include refid="database"/>`sns_member_follow` AS `snmefo`
            ON `snmefo`.`follow_uuid` = `snco`.`member_uuid`
            AND snmefo.`member_uuid` = #{loginMemberUuid}
            AND snmefo.state = 1
        LEFT JOIN<include refid="database"/>`sns_member_follow` AS `snmefo2`
            ON `snmefo2`.`member_uuid` = `snco`.`member_uuid`
            AND `snmefo2`.`follow_uuid` = #{loginMemberUuid}
            AND `snmefo2`.state = 1
        WHERE
                `snimmetama`.`member_uuid` = #{loginMemberUuid}
            AND `snimmetama`.`state` = 1
            AND `sncore`.`idx` IS NULL
            AND `snmebl1`.`idx` IS NULL
            AND `snmebl2`.`idx` IS NULL
            AND `sncohi`.`idx` IS NULL
            AND `snco`.`is_keep` = 0
        HAVING (`snco`.`is_view` = 2 AND `is_follow` = 1) OR (`snco`.`is_view` = 1)
        ORDER BY  `snco`.`reg_date` DESC
        <if test="pagination != null">
            LIMIT #{recordSize}
            OFFSET #{pagination.limitStart}
        </if>
    </select>

    <!-- 해당 멤버가 태그 된 콘텐츠 카운트 가져오기 -->
    <select id="iGetTotalMemberTagContentsCount" parameterType="SearchDto" resultType="_int">
        SELECT
            COUNT(`snco`.`idx`) AS `totalCnt`
        FROM (
            SELECT
            DISTINCT `snco`.`idx`,
                     `snco`.`is_view`,
                    IF(`snco`.`is_view` = 2 AND (`snco`.`member_uuid` = #{loginMemberUuid} OR (IFNULL(`snmefo`.`idx`, 0) != 0 OR IFNULL(`snmefo2`.`idx`, 0) != 0)), 1, 0) AS `is_follow`
        FROM<include refid="database"/>`sns_img_member_tag_mapping` AS `snimmetama`
        INNER JOIN<include refid="database"/>`sns_contents` AS `snco`
            ON `snco`.`idx` = `snimmetama`.`contents_idx`
            AND `snco`.`state` = 1
        LEFT JOIN<include refid="database" />`sns_contents_report` AS `sncore`
            ON `sncore`.contents_idx = `snco`.`idx`
            AND `sncore`.`member_uuid` = #{loginMemberUuid}
            AND `sncore`.state = 1
        LEFT JOIN<include refid="database" />`sns_contents_hide` AS `sncohi`
            ON `sncohi`.`member_uuid` = #{loginMemberUuid}
            AND `sncohi`.`contents_idx` = snco.idx
            AND `sncohi`.`state` = 1
        LEFT JOIN<include refid="database" />`sns_member_block` AS `snmebl1`
            ON `snmebl1`.`block_uuid` = #{loginMemberUuid}
            AND `snmebl1`.`member_uuid` = `snco`.`member_uuid`
            AND `snmebl1`.`state` = 1
        LEFT JOIN<include refid="database" />`sns_member_block` AS `snmebl2`
            ON `snmebl2`.`member_uuid` = #{loginMemberUuid}
            AND `snmebl2`.`block_uuid` = `snco`.`member_uuid`
            AND `snmebl2`.`state` = 1
        LEFT JOIN<include refid="database"/>`sns_member_follow` AS `snmefo`
            ON `snmefo`.`follow_uuid` = `snco`.`member_uuid`
            AND `snmefo`.`member_uuid` = #{loginMemberUuid}
            AND `snmefo`.`state` = 1
        LEFT JOIN<include refid="database"/>`sns_member_follow` AS `snmefo2`
            ON `snmefo2`.`member_uuid` = `snco`.`member_uuid`
            AND `snmefo2`.`follow_uuid` = #{loginMemberUuid}
            AND `snmefo2`.`state` = 1
        WHERE
                `snimmetama`.`member_uuid` = #{memberUuid}
            AND `snimmetama`.`state` = 1
            AND `snco`.`is_keep` = 0
            AND `sncore`.`idx` IS NULL
            AND `snmebl1`.`idx` IS NULL
            AND `snmebl2`.`idx` IS NULL
            AND `sncohi`.`idx` IS NULL
        HAVING (`snco`.`is_view` = 2 AND `is_follow` = 1) OR (`snco`.`is_view` = 1)
        ) AS `snco`
    </select>

    <!-- 해당 멤버가 태그 된 콘텐츠 리스트 가져오기 -->
    <select id="lGetMemberTagContentsList" parameterType="SearchDto" resultType="ContentsDto">
        SELECT
            DISTINCT `snco`.`idx` AS `idx`,
                     `snco`.`image_cnt`,
                     `snco`.`is_view`,
                    IF(`snco`.`is_view` = 2 AND (`snco`.`member_uuid` = #{loginMemberUuid} OR (IFNULL(`snmefo`.`idx`, 0) != 0 OR IFNULL(`snmefo2`.`idx`, 0) != 0)), 1, 0) AS `is_follow`
        FROM<include refid="database"/>`sns_img_member_tag_mapping` AS `snimmetama`
        INNER JOIN<include refid="database"/>`sns_contents` AS `snco`
            ON `snco`.`idx` = `snimmetama`.`contents_idx`
            AND `snco`.`state` = 1
        LEFT JOIN<include refid="database"/>`sns_contents_report` AS `sncore`
            ON `sncore`.contents_idx = `snco`.`idx`
            AND `sncore`.`member_uuid` = #{loginMemberUuid}
            AND `sncore`.state = 1
        LEFT JOIN<include refid="database"/>`sns_contents_hide` AS `sncohi`
            ON `sncohi`.`member_uuid` = #{loginMemberUuid}
            AND `sncohi`.`contents_idx` = `snco`.`idx`
            AND `sncohi`.`state` = 1
        LEFT JOIN<include refid="database"/>`sns_member_block` AS `snmebl1`
            ON `snmebl1`.`block_uuid` = #{loginMemberUuid}
            AND `snmebl1`.member_uuid = `snco`.`member_uuid`
            AND `snmebl1`.`state` = 1
        LEFT JOIN<include refid="database"/>`sns_member_block` AS `snmebl2`
            ON `snmebl2`.`member_uuid` = #{loginMemberUuid}
            AND `snmebl2`.`block_uuid` = `snco`.`member_uuid`
            AND `snmebl2`.`state` = 1
        LEFT JOIN<include refid="database"/>`sns_member_follow` AS `snmefo`
            ON `snmefo`.`follow_uuid` = `snco`.`member_uuid`
            AND `snmefo`.`member_uuid` = #{loginMemberUuid}
            AND `snmefo`.`state` = 1
        LEFT JOIN<include refid="database"/>`sns_member_follow` AS `snmefo2`
            ON `snmefo2`.`member_uuid` = `snco`.`member_uuid`
            AND `snmefo2`.`follow_uuid` = #{loginMemberUuid}
            AND `snmefo2`.`state` = 1
        WHERE
                    `snimmetama`.`member_uuid` = #{memberUuid}
                AND `snimmetama`.`state` = 1
                AND `snco`.`is_keep` = 0
                AND `sncore`.`idx` IS NULL
                AND `snmebl1`.`idx` IS NULL
                AND `snmebl2`.`idx` IS NULL
                AND `sncohi`.`idx` IS NULL
            HAVING (`snco`.`is_view` = 2 AND `is_follow` = 1) OR (`snco`.`is_view` = 1)
        ORDER BY  `snco`.`reg_date` DESC
        <if test="pagination != null">
            LIMIT #{recordSize}
            OFFSET #{pagination.limitStart}
        </if>
    </select>

</mapper>
